
@{
    Layout = null;
    ViewBag.Title = "Results";
}
@using System.Web.Optimization
@model VerificationISO27001.SessionData.Session

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    @Styles.Render("~/bundles/list/css")
    @Styles.Render("~/bundles/main/css")

    <title>ISO-27001</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body class="my-bg-color1">
    <div class="container mt-5">
        <p class="h1 text-white">Verification of ISO-27001</p>
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
    </div>
    <div class="container mt-5">
        <p class="h3 text-white">Verification of ISO-27001 for company @Model.CompanyName.CompanyName was @if (Model.ResultData.Success) {<span class="text-success">successful</span> } else {<span class="text-danger">failed</span> }</p>
        <p class="h3 text-white">Your company meets the standard at @if (Model.ResultData.correctness < 90)
        {<span class="text-danger">@Model.ResultData.correctness%</span> }
        else if (Model.ResultData.correctness <= 95 && Model.ResultData.correctness >= 90)
        {<span class="text-warning">@Model.ResultData.correctness%</span> }
        else {<span class="text-success">@Model.ResultData.correctness%</span> }</p>
    </div>
    <div class="container mt-5">
        <p class="h2 text-white">Your Results</p>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Risk</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Points Scored</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model.MListOfQuestions.Questions)
                {
                <tr>
                    <th scope="row">@question.Number</th>
                    <td class="col-6">@question.Question</td>
                    <td>@if (question.Risk == VerificationISO27001.Enums.Risk.Acceptable)
                    {<span class="text-success">@question.Risk.ToString()</span> }
                    else if (question.Risk == VerificationISO27001.Enums.Risk.Medium)
                    {<span class="text-warning">@question.Risk.ToString()</span> }
                    else {<span class="text-danger">@question.Risk.ToString()</span> }</td>
                    <td>@question.Answer</td>
                    <td>@question.Scored</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container mt-5 mb-5">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary text-white ms-2">Try again</a>
    </div>

    <script>
        var noRisk=0;
        var highRisk = @Model.ResultData.scoreOfHighRisk;
        var lowerRisk = @Model.ResultData.scoreOfMediumRisk;
        var acceptableRisk = @Model.ResultData.scoreOfAcceptableRisk;
        if(highRisk==0 && lowerRisk==0 && acceptableRisk==0){
            noRisk=1;
            highRisk=0;
            lowerRisk=0;
            acceptableRisk=0;
        }
        var xValues = ["High", "Lower", "Acceptable", "No risks"];
        var yValues = [highRisk, lowerRisk, acceptableRisk, noRisk];
        var barColors = [
            "#e73741",
            "#fdc803",
            "#7db82b",
            "#3cbfce"
        ];

        new Chart("myChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Risks",
                    fontColor: "#ffffff",
                    fontSize: 26
                },
                legend: {
                    labels: {
                        fontColor: "#ffffff",
                        fontSize: 20
                    }
                }
            }
        });
    </script>

    @Scripts.Render("~/bundles/script/js")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>

</html>

